.sidebarContainer{
 flex: 3; 

}
.sidebarWrapper{
   padding: 20px; 

}
.listPages{
   padding: 0; 
margin: 0;
list-style: none;
}
.listPagesItem{
display: flex;
align-items: center;
margin-bottom: 10px; 
cursor: pointer;  
border:2px solid black;
border-radius: 20px;
padding: 10px;
font-size: 24px;
color: black;
}
.listPagesItem:hover{
   background-color: silver;
}
.listPagesItem:active{
   background-color: gray;
}

.listIcon{
   font-size: 28px !important;
   margin-right: 10px;
}

.sidebarListItemIcon{
    margin-right: 15px;
}
