.userPageContainer{
    display: flex;
    width: 100%;
    min-height: calc(100vmin - 50px);
}
.addButton{
    width: calc(100% - 20px);
    height: 60px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
}
.addButton:hover{
    background-color: silver;
}
.addButton:active{
    background-color: gray;
}

